@import "@/assets/scss/mixins";
@import "@/assets/scss/variables";

.pagination {
    font-size: rem(12);
    color: $labelText;
    display: flex;
    justify-content: center;
    list-style: none;
}

.item {
    display: flex;
    min-width: rem(12);
    height: rem(16);
    margin: 0 rem(5);
    justify-content: center;
    align-items: center;

    & > * {
        border: none;
        background-color: transparent;
        color: inherit;
        font-weight: inherit;

        &:hover {
            cursor: pointer;
        }
    }

    &:hover {
        color: $activeItem;
        font-weight: 700;
    }
}

.active {
    color: $activeItem;
    font-weight: 700;

    & > * {
        &:hover {
            cursor: default;
        }
    }

    &:hover {
        cursor: default;
    }
}

.ellipsis {
    padding-top: rem(2);
}

.arrow {
    font-size: rem(10);
}

.arrowRight {
    transform: rotate(180deg);
}

.buttonArrowLeft {
    margin-right: 0;
    min-width: rem(8);
}

.buttonArrowRight {
    margin-left: 0;
    min-width: rem(8);
}
